<H4>Sensor-identification</H4>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div formArrayName="locationsMeasures">
        <ul *ngFor="let locationMeasures of locationsMeasures.controls; let i=index">
            <li [formGroupName]="i">{{locationMeasures.get('location').value}}
                <div formArrayName="measures">
                    <div *ngFor="let measure of locationMeasures.get('measures').controls; let j=index" class="btn-group btn-group-toggle">
                        <label [formGroupName]="j" class="btn-primary" ngbButtonLabel>
                          <input type="checkbox" formControlName="isSelected" ngbButton>{{measure.get('measureTypeName').value}}
                      </label>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <button class="btn btn-success" type="submit" [disabled]="!form.valid">Submit</button>
    <!--
      <p>
          Form Value: {{ form.value | json }}
      </p>
    -->
</form>