<div [formGroup]="sensorsIdentificationForm">
    <button style="margin : 5px" class="btn btn-warning" type="button" (click)="toggleAllLocations()">
    {{ isMeasureTypesByLocationEmtpy() ? 'Select all locations' : 'Clear all locations' }}
  </button>

    <div formArrayName="locations" *ngFor="let location of sensorsIdentificationForm.get('locations').controls; let i=index " class="btn-group btn-group-toggle">
        <label [formGroupName]="i" class="btn btn-outline-secondary" ngbButtonLabel>
        <input type="checkbox" formControlName="isSelected" ngbButton>{{location.get('location').value}}
      </label>
    </div>
    <div formArrayName="locationsMeasures" *ngFor="let locationMeasures of sensorsIdentificationForm.get('locationsMeasures').controls; let i=index">
        <div [formGroupName]="i" class="card" style="margin-top: 10px">
            <h5 class="card-header">Location: {{locationMeasures.get('location').value}}</h5>
            <div class="card-body" formArrayName="measures">
                <div class="card-text">
                    <div *ngFor="let measure of locationMeasures.get( 'measures').controls; let j=index" class="btn-group btn-group-toggle">
                        <label [formGroupName]="j" class="btn btn-outline-secondary" ngbButtonLabel>
                          <input type="checkbox" formControlName="isSelected" ngbButton>{{measure.get('measureTypeName').value}}
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="sensorsIdentificationForm.get('locationsMeasures').errors">
        <div *ngIf="sensorsIdentificationForm.get('locationsMeasures').errors.atLeastOneMeasureSelected">Must select at least one measure type at a location.</div>
    </div>
</div>