<div *ngIf=measureLoaded class="card" style="max-width: 350px; margin: auto;">
    <div class="card-header">
        <div class="row">
            <div class="col-6 text-left"><b>{{measureTypeDetails.typeName}}</b></div>
            <div class="col-6 text-right"><b>{{sensor.location}}</b></div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-5 text-left">{{ measure?.value | number : '1.2-2' }} {{[measureTypeDetails.unitSymbol]}}</div>
            <div class="col-7 text-left">{{ measure?.timestamp | date:'yyyy-MM-dd HH:mm:ss' : '-' }}</div>
        </div>
    </div>
</div>