<div *ngIf=measureLoaded class="sensor-box">
    <table>
        <tr>
            <th colspan="2" style="height : 20px; text-align : center">{{measureTypeDetails.typeName}}</th>
        </tr>
        <tr>
            <td style="font-weight: bold">Location: </td>
            <td>{{sensor.location}}</td>
        </tr>
        <tr>
            <td style="font-weight: bold">Time: </td>
            <td *ngIf="measure.timestamp">{{measure.timestamp | date:'HH:mm:ss'}}</td>
            <td *ngIf="!measure.timestamp">-</td>
        </tr>
        <tr>
            <td style="font-weight: bold">Value: </td>
            <td *ngIf="measure.value">{{measure.value | number : '1.2-2'}} [{{measureTypeDetails.unitSymbol}}]</td>
            <td *ngIf="!measure.value">-</td>
        </tr>
    </table>
</div>