<h3> Historical data</h3>
<p>
    <button type="button" class="btn btn-outline-primary" (click)="toggleSensorSelection()" [attr.aria-expanded]="!isSelectionCollapsed" aria-controls="collapseExample">
    {{ isSelectionCollapsed ? sensorSelectionText : 'Hide sensor selection' }}
  </button>
</p>
<div id="sensor-selection" [ngbCollapse]="isSelectionCollapsed">
    <div class="card">
        <app-sensor-identification class="card-body" [measureKeys]="measureKeys | async" (selectedMeasureKeys)=onMeasureKeysSelected($event)>
        </app-sensor-identification>
    </div>
</div>


<app-debug-display-history *ngIf="displayData"></app-debug-display-history>