<h3> Historical data</h3>



<ngb-accordion [closeOthers]="true" activeIds="sensor-selection">
    <ngb-panel id="sensor-selection" title="Sensor selection">
        <ng-template ngbPanelContent>
            <app-sensor-identification [measureKeys]="measureKeys | async" (selectedMeasureKeys)=onMeasureKeysSelected($event)>
            </app-sensor-identification>
        </ng-template>
    </ngb-panel>
    <ngb-panel id="history-debug" title="Debug display">
        <ng-template ngbPanelContent>
            <app-debug-display-history></app-debug-display-history>
        </ng-template>
    </ngb-panel>
</ngb-accordion>