<div class="row">
    <div class="col-12 text-left">
        <h5>Location</h5>
    </div>
</div>
<div class="row">
    <div class="col-12 text-center">
        <div style="margin-bottom : 10px;">
            <button class="btn btn-outline-warning btn-sm" type="button" (click)="toggleAllLocations()">
              {{ isSelectionEmpty() ? 'Select all' : 'Clear all' }}
            </button>
        </div>
        <div class="btn-group btn-group-toggle" *ngFor="let selectableLocation of selectableLocations | keyvalue">
            <label class="btn btn-outline-primary btn-sm" ngbButtonLabel>
            <input type="checkbox" ngbButton [ngModel]="selectableLocation.value" (click)="toggleLocation(selectableLocation.key)" >{{selectableLocation.key}}
          </label>
        </div>
    </div>
</div>