<h3></h3>

<app-page-title title="Time series with ngx-charts">
  </app-page-title>
<div class="row">
    <div class="col-1"></div>
        <div class="col-10">
        <div style="min-height: 300px; max-height: 600px; margin: auto">
            <ngx-charts-line-chart [scheme]="colorScheme" [results]="dataTemperature" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" yAxisLabel="Temperature"
                [autoScale]="autoScale" [timeline]="timeline">
            </ngx-charts-line-chart>
        </div>
        <div style="min-height: 300px; max-height: 600px; margin: auto">
            <ngx-charts-line-chart [scheme]="colorScheme" [results]="dataPressure" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" yAxisLabel="Pressure"
                [autoScale]="autoScale" [timeline]="timeline">
            </ngx-charts-line-chart>
        </div>
    </div>
    <div class="col-1"></div>
</div>
<!--
[gradient]="gradient"
[view]="view"
-->